
.idea/

neumc/src/nmcmc.egg-info/

*.ipynb

**/.ipynb_checkpoints/


**/__pycache__

*.zip

*.pdf

nmcmc-env/

*.pt
/docs/source/api/
/docs/build/
/neumc/src/neumc.egg-info/
/neumc/build/

notebooks/phi4/phi4_path_gradient.Rmd

notebooks/phi4/cfgs_/

notebooks/phi4/hist.png

notebooks/phi4/*.png

notebooks/phi4/volume_hist.png
